{% include header.html %}

<button class="btn float-start" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
  <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
</button>

<main class="container">
  <!--<div class="bg-light p-3 rounded mt-0">
    <h1>{{ page.title }} <small class="text-muted">{{ page.subtitle }}</small></h1>
  </div>-->
  <h1>{{ page.title }} <small class="text-muted">{{ page.subtitle }}</small></h1>

  <div class="b-example-divider"></div><br/>
  
  <div class="fs-5 fs-lg-1 my-font">
    {{ content }}
  </div>  
  <br>
  <div class="list-group relatedLinks">
{% if page.related %}
    <h3>Related pages</h3>
  {% include {{ page.related }} %}
{% endif %}
  </div>
</main>

{% if page.leftmenu %}
  {% include {{ page.leftmenu }} %}
{% endif %}

{% include footer.html %}


<div class="test">
  <a href="#">A1</a>
  <a href="#">A2</a>
</div>