{% include header.html %}

{% if page.leftmenu %}
  {% include {{ page.leftmenu }} %}
{% endif %}

<button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
  <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
</button>

<main class="container">
  <!--<div class="bg-light p-3 rounded mt-0">
    <h1>{{ page.title }} <small class="text-muted">{{ page.subtitle }}</small></h1>
  </div>-->
  <h1>{{ page.title }} <small class="text-muted">{{ page.subtitle }}</small></h1>

  <div class="b-example-divider"></div><br/>
  
  <div class="fs-6 fs-lg-1">
    {{ content }}
  </div>  
</main>

{% include footer.html %}